<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>krijejtiTask</title>
</head>
<body>

<p>Podaj nazwę taska</p>
<form action="#" th:action="@{/project/{project_id}/task(project_id=${project_id})}" th:object="${taskForm}"
      method="post">
    <p> nazwa taska: <input type="text" th:field="*{name}"/></p>
    <p> opis taska: <input type="text" th:field="*{description}"/></p>
    <p><input type="submit" value="Dodaj"/></p>
</form>
</body>
</html>