<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>wjutask</title>
</head>
<body>

<th:block th:if="${task != null}">
    <p><b>Task name: </b><span th:text="${task.name}">Wooooooo</span></p>
    <p><b>Task ID: </b><span th:text="${task.id}">Wooooooo</span></p>
    <p><b>Task description: </b><span th:text="${task.description}"></span></p>
    <hr/>

    <th:block th:if="${task.comments != null}">
        <th:block th:each="comment : ${task.comments}">
            <p><b>Comment body: </b><span th:text="${comment.body}" style="display: inline-block">name</span></p>
            <hr />
        </th:block>
    </th:block>

    <form th:action="@{/wp/{id}/wt/{tid}(id=${id},tid=${tid})}" th:object="${comment}" method="post">
        <p> dodaj komentarz: <input type="text" th:field="*{description}"/></p>
        <p><input type="submit" value="Dodaj"/></p>
    </form>

    <a th:href="@{/wp/{id}(id=${id})}">powrót do projektu</a>

</th:block>
</body>
</html>