<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>wjutask</title>
</head>
<body>

<th:block th:if = "${task != null}">
    <p th:text="${task.name}">Wooooooo</p>
    <p th:text="${task.id}">Wooooooo</p>
    <p th:text="${task.description}"></p>

    <th:block th:if = "${task.comments != null}">
        <div style="display: block">
            <th:block th:each="comment : ${task.comments}">
                <div style="display: block">
                    <p th:text="${comment.description}" style="display: inline-block">name</p>
                </div>
            </th:block>
        </div>
    </th:block>

    <form th:action="@{/wp/{id}/wt/{tid}(id=${id},tid=${tid})}" th:object="${comment}" method="post">
        <p> dodaj komentarz: <input type="text" th:field="*{description}" /></p>
        <p><input type="submit" value="Submit" /></p>
    </form>

<!--
    <a th:href="@{/wp/{id}/tt(id=${id})}"> dodanie komentarza </a>
-->

</th:block>
</body>
</html>